@{
    Layout = "~/Views/Shared/_LayoutPortfolio.cshtml";
}

<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">Sobre Mim</h2>
        <div class="about-container">
            <div class="column left">
                <img src="~/images/my_photo.jpg"/>
            </div>
            <div class="column right">
                <div class="text">Eu sou um <span>Desenvolvedor</span></div>
                <p>Trabalho no desenvolvimento de aplicações web, android e desktop com as tecnologias atuais e de alta performance.</p>
            </div>
        </div>
    </div>
</section>

<section class="history-professional" id="history-professional">
    <div class="max-width">
        <h2 class="title">História Profissional</h2>
        <div class="history-professional-container">
            <div class="text">Meu Primeiro Contato com a Área de <span>Desenvolvimento</span></div>
            <p>Em 2016 comecei um curso Técnico de Informática onde pela primeira vez criei métodos, classes, CRUD(Criar, Ler, Atualizar e Deletar dados de uma tabela no banco de dados usando Mysql) através de uma aplicação desktop criada com a linguagem de programação java. Também criei um pequeno portal com login e senha onde utilizei das tecnologias PHP, Mysql, HTML, CSS, Javascript e bilitotecas como Bootstrap e Jquery.</p>
            <p>Em 2019 iniciei minha graduação em Ciência da Computação na faculdade São Francisco de Assis onde criei um portal de uma biblioteca onde o dono conseguia colocar uma lista de livros pra locação e os usuários podiam baixar livros em pdf depois de alugar um livro, tendo acesso em pdf.</p>
        </div>
        <div class="history-professional-container">
            <div class="text">Meu Primeiro Trabalho na Área de <span>Desenvolvimento</span> e Atual</div>
            <p>Em 2020 fui contratado pela empresa ABSIS para trabalhar como estagiário de desenvolvedor júnior full stack, atualmente trabalho na mesma empresa e amo muito o que eu faço.</p>
            <p>Nesta empresa usamos as tecnologias C#, VB, Mysql, HTML, CSS, Javascript e frameworks como Asp Core, Asp Net e bibliotecas como Bootstrap, Jquery e outras mais especifícas.</p>
            <a href="#">Baixar CV</a>
        </div>
    </div>
</section>

<section class="project" id="project">
    <div class="max-width">
        <h2 class="title">Meus Projetos</h2>
        <div class="project-container">
            <div class="card">
                <div class="box">
                    <i class="fa-solid fa-window-maximize"></i>
                    <div class="text">Aplicações Web</div>
                    <p></p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-mobile"></i>
                    <div class="text">Aplicações Mobile</div>
                    <p></p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-desktop"></i>
                    <div class="text">Aplicações Desktop</div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="skill" id="skill">
    <div class="max-width">
        <h2 class="title">Habilidades</h2>
        <div class="text">Minhas Habilidades</div>
        <div class="skill-container">
            <div class="column painting">
                <h3>HTML:</h3>
                <p>Esta ferramenta venho usando desde 2015 criando layout de páginas, tenho bastante experiência com a linguagem de marcação de texto. Conheço praticamente quase todos os atributos de todas as tags pois trabalho com telas de páginas todos os dias.</p>
            </div>
            <div class="column bar">
                <div class="information">
                    <span>HTML</span>
                    <span>90%</span>
                </div>
                <div class="line html"></div>
            </div>
            <div class="column painting">
                <h3>Asp Net:</h3>
                <p>Uma ferramenta que comecei a usa-lá em 2019 onde consiste na criação de um código html pela frente e por trás o código fonte se diferenciando bastante do Asp Core que é o mais atual.</p>
            </div>
            <div class="column bar">
                <div class="information">
                    <span>Asp Net</span>
                    <span>90%</span>
                </div>
                <div class="line asp-net"></div>
            </div>
            <div class="column painting">
                <h3>Asp Core:</h3>
                <p>Também junto com o Asp Core comecei a usa-lá em 2019 e desde então não quero mais usar outro framework de desenvolvimento para back-end e front-end, tendo ainda uma das melhores técnicas de desenvolviemnto bastante conhecida como MVC(Model View Controller) e ótimo para criação de apis.</p>
            </div>
            <div class="column bar">
                <div class="information">
                    <span>Asp Core</span>
                    <span>95%</span>
                </div>
                <div class="line asp-core"></div>
            </div>
            <div class="column painting">
                <h3>CSS:</h3>
                <p>Prefiro criar minha própria estilização então uso bastante para todas as páginas certamente vai ter um arquivo de css para cada página criada, mas isso não significa que não use bibliotecas, uma que uso e gosto bastante é a do bootstrap-select.</p>
            </div>
            <div class="column bar">
                <div class="information">
                    <span>CSS</span>
                    <span>70%</span>
                </div>
                <div class="line css"></div>
            </div>
            <div class="column painting">
                <h3>JavaScript:</h3>
                <p>Neste caso uso uma biblioteca do JavaScript o Jquery a qual prefiro pois facilita muito na hora de utilizar eventos da página para chamar funções criadas para deixar a página mais dinâmica e com mais performance.</p>
            </div>
            <div class="column bar">
                <div class="information">
                    <span>JavaScript</span>
                    <span>95%</span>
                </div>
                <div class="line javascript"></div>
            </div>
            <div class="column painting">
                <h3>PHP:</h3>
                <p>Já usei bastante e as vezes uso para projetos de colegas, faculdade e cursos. Utilizei bastante para CRUD de aplicações web tanto para logins, redefinição de senha e outras ações.</p>
            </div>
            <div class="column bar">
                <div class="information">
                    <span>PHP</span>
                    <span>80%</span>
                </div>
                <div class="line php"></div>
            </div>
            <div class="column painting">
                <h3>C#:</h3>
                <p>Linguagem que mais uso atualemnte e domino, suo desde uma simples criação de classe de objetos a classes mais complexas como apis, objetos modelos, mapeamentos de objetos, regras de negócio, para criaçãos de telas dinâmicas e outras coisas mais.</p>
            </div>
            <div class="column bar">
                <div class="information">
                    <span>C#</span>
                    <span>90%</span>
                </div>
                <div class="line c-charp"></div>
            </div>
            <div class="column painting">
                <h3>C:</h3>
                <p>Já usei para criação de uma aplicação para um arduino operar funções a sistemas simples computacionais para desktop, mas sou sincero em dizer que não gosto muito e entendo que é uma linguagem de extrema importância.</p>
            </div>
            <div class="column bar">
                <div class="information">
                    <span>C</span>
                    <span>60%</span>
                </div>
                <div class="line c"></div>
            </div>
            <div class="column painting">
                <h3>VB:</h3>
                <p>Uso bastante nas aplicações em Asp Net pois é uma linguagem fácil para criar variáveis e métodos onde não preciso me lembrar em colocar dois pontos no final de cada terminação de comandos de códigos e outras facilidades.</p>
            </div>
            <div class="column bar">
                <div class="information">
                    <span>VB</span>
                    <span>80%</span>
                </div>
                <div class="line vb"></div>
            </div>
            <div class="column painting">
                <h3>Java:</h3>
                <p>Já usei para criação de aplicações desktop e mobile acho que é uma linguagem de programação muito boa para criação aplicações desktop por ter várias funcionalidades e a técnica POO(Programação Orientada a Objetos), mas não gosto muito da linguagem java para web pois gera muitos problemas e falta muito recurso para aplicações web.</p>
            </div>
            <div class="column bar">
                <div class="information">
                    <span>Java</span>
                    <span>60%</span>
                </div>
                <div class="line java"></div>
            </div>
            <div class="column painting">
                <h3>SQL Server:</h3>
                <p>Atualmente tenho usado bastante em aplicações web para Asp Net e Asp Core normalmente para CRUD, sessão, paginação e filtro</p>
            </div>
            <div class="column bar">
                <div class="information">
                    <span>SQL Server</span>
                    <span>90%</span>
                </div>
                <div class="line sql-server"></div>
            </div>
            <div class="column painting">
                <h3>MySQL:</h3>
                <p>Já usei bastante também para aplicações web em php e aplicações desktop e mobile em java reutilizando das mesmas operações apresentadas no SQL Server.</p>
            </div>
            <div class="column bar">
                <div class="information">
                    <span>MySQL</span>
                    <span>85%</span>
                </div>
                <div class="line mysql"></div>
            </div>
            <a href="#">Leia mais</a>
        </div>
    </div>
</section>

<section class="contact" id="contact">
    <div class="max-width">
        <h2 class="title">Contata-me</h2>
        <div class="contact-container">
            <div class="column left">
                <div class="text">Entrar em Contato</div>
                <p></p>
                <div class="icon">
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <div class="information">
                            <div class="header">Nome</div>
                            <div class="sub-title">Guilherme Saldanha De Souza</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="information">
                            <div class="header">Endereço</div>
                            <div class="sub-title">Rio Grande do Sul, Brasil</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <div class="information">
                            <div class="header">E-mail</div>
                            <div class="sub-title">guilhermesaldanhadesouza@@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column right">
                <div class="text">Me mande uma mensagem</div>
                <form asp-action="#">
                    <div class="fields">
                        <div class="field name">
                            <input type="text" placeholder="Nome" />
                        </div>
                        <div class="field e-mail">
                            <input type="email" placeholder="E-mail" />
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Título" />
                    </div>
                    <div class="field message">
                        <textarea cols="30" rows="10" placeholder="Descreva o projeto ..."></textarea>
                    </div>
                    <div class="button">
                        <button asp-action="Gravar" type="submit">Enviar mensagem</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>